body,html{
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
#video-grid{
    display: flex;
    justify-content: space-evenly;
}

video{
    height: 400px;
    width: 450px;
    object-fit: contain;
    margin: 10px;
}

.main{
    height: 100vh;
    display: flex;
}
.left{
    flex: 0.8;
    display: flex;
    flex-direction: column;
}
.right{
    flex:0.2;
    display: flex;
    flex-direction: column;
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}
.videos{
    flex-grow: 1;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px
}
.controls{
    display: flex;
    background-color: #1f1f1f;
    color: #d2d2d2;
    padding: 8px;
    justify-content: space-between;
}
.control_block{
    display: flex;
}
.control_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:5px;
    cursor: pointer;
    align-items: center;
    min-width: 50px;
    margin: 0px;
}
.leave_meeting{
    background-color: #c43146;
    border: 1px solid #c43146;
    border-radius: 3px;
    padding: 2px 10px;
}
.control_buttons:hover {
    background-color: #343434;
    border-radius: 5px;
}
.chat{
    color: #f5f5f5;
    text-align: center;
}
.chat_window{
    flex-grow: 1;
    overflow-y: scroll;
}
.message_container{
    padding: 22px 12px;
    display: flex;
}
.messages{
    color: white;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #464775;
    color: #f5f5f5;
    padding: 5px;
    text-align: center;
}
